.video-player {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.video {
  width: 150%;
  max-height: 500px;
  height: auto;
  border: none;
  border-radius: 0;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  gap: 2rem;
  color: #131313;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: #b3b3b3;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.dot.active {
  background-color: #3d3d3d;
  transform: scale(1.2);
}

button {
  background-color: #b3b3b3;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  padding: 20px 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}

button:hover {
  background-color: #b3b3b3;
  transform: translateY(-3px) scale(1.05);
  color: #131313;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}

button.disabled {
  background-color: #b3b3b3;
  cursor: not-allowed;
  box-shadow: none;
  color: #131313;
  padding: 10px 20px;
}

button.disabled:hover {
  background-color: #b3b3b3;
  transform: translateY(-3px) scale(1.05);
  color: #131313;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}

button.active {
  background-color: #b3b3b3;
  cursor: not-allowed;
  box-shadow: none;
  color: #131313;
  padding: 10px 20px;
}

button.active:hover {
  background-color: #b3b3b3;
  transform: translateY(-3px) scale(1.05);
  color: #131313;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.4);
  padding: 10px 20px;
}
.button-whatsapp {
    background-color: #25D366; /* Cor do botão do WhatsApp */
    color: white; 
    padding: 12px 24px; /* Ajustar o padding para um tamanho mais confortável */
    border: none; /* Remover borda padrão */
    border-radius: 8px; /* Bordas arredondadas */
    cursor: pointer; 
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Transições suaves */
}

.button-whatsapp:hover {
    background-color: #128C7E; /* Cor mais escura ao passar o mouse */
    transform: scale(1.05); /* Aumenta levemente o tamanho */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Sombra ao passar o mouse */
}
