@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  transition: background-color 0.3s ease, color 0.3s ease;
}

.app-container.light {
  background-color: #ffffff;
  color: #000000;
}

.app-container.dark {
  background-color: #010101;
  color: #ffffff;
}

.dark .bg-white {
  background-color: #111;
}

.dark .border-gray-700 {
  border-color: #333;
}

.dark .text-gray-600 {
  color: #e6e7e8;
}

.button {
  @apply px-4 py-2 rounded-lg font-semibold transition duration-200 ease-in-out;
  background-color: #333;
  color: #ffffff;
}

.button:hover {
  @apply bg-white text-gray-900 transform scale-105 shadow-lg;
}

.card {
  @apply shadow-lg rounded-lg transition duration-300 ease-in-out;
  background-color: #131313;
}

.card:hover {
  @apply shadow-xl transform scale-105;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #333;
  border-radius: 10px;
  transition: background 0.3s;
}

::-webkit-scrollbar-thumb:hover {
  background: #e0a74f;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #333 rgba(255, 255, 255, 0.1);
}

a {
  @apply transition duration-200 ease-in-out;
  color: inherit;
}

a:hover {
  @apply text-gray-900;
}

h1, h2, h3, h4, h5, h6 {
  @apply transition duration-300 ease-in-out;
}

h1 {
  @apply text-3xl font-bold;
}

h2 {
  @apply text-2xl font-semibold;
}

h3 {
  @apply text-xl font-medium;
}

.transition-effect {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.transition-effect:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.carousel-container {
  max-width: 800px;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 0.5rem;
  box-shadow: 0 4px 20px rgba(255, 255, 255, 0.1);
  white-space: nowrap;
}

@media (max-width: 640px) {
  .carousel-container {
    width: 90%;
  }
}

@media (min-width: 640px) {
  .carousel-container {
    width: 80%;
  }
}

@media (min-width: 768px) {
  .carousel-container {
    width: 70%;
  }
}

button {
  cursor: pointer;
}
.transform-hover:hover {
    transform: scale(1.05);
}

.font-semibold {
    font-weight: 800;
}
.text-lg {
    font-size: 1rem;
    line-height: 1.75rem;
}
.text-black {
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
    transition: color 0.3s ease; /* Adiciona uma transição suave */
}

.text-black:hover {
    color: rgb(228, 228, 228); /* Altera a cor para laranja ao passar o mouse */
}
