.hero-section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height */
  background: url('/abertura1.mp4') no-repeat center center;
  background-size: cover; /* Cobrir toda a área */
  filter: blur(5px); /* Desfoque do vídeo */
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4); /* Cor de fundo escuro */
  z-index: 1;
}

.hero-section h1,
.hero-section p,
.hero-section button {
  position: relative;
  z-index: 2; /* Garantir que o conteúdo fique acima do fundo */
}