/* HeroSection.css */

/* Estilo para a seção hero */
.hero-background {
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero-background video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Camada de sobreposição */
.hero-background .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5; /* Ajuste a opacidade conforme necessário */
  z-index: 1;
}

/* Texto sobre o vídeo */
.hero-background .text-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}
